<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<p>Write something with #hashtag</p>
<p><input type="text" [(ngModel)]="name" placeholder="Enter something here" ></p>
<p class="cl" ><b style="color: black">Result:</b> {{ name }}</p>

<router-outlet></router-outlet>
