input[type=text] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 24px;
    color: slategrey;
    background: seashell;
  }
  .cl{
      font-size: 34px;
    
  }